* {
    padding: 0;
    margin: 0;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    height: 100vh;
    width: 100vw;
    color: #e3e3e3;
    background-color: #272727;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    height: 8%;
    width: 100vw;
    background-color: #9147ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main>table {
    height: 5rem;
    width: 20rem;
    padding: 1rem;
    background-color: aqua;
    border-radius: 2rem;
}

footer {
    height: 4%;
    width: 100vw;
    background-color: #9147ff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

footer>p {
    padding-right: 1.5rem;
}